body {
    font-family: Arial, sans-serif;
    background-color: #222; color: white;
    text-align: center;
}

h1 {
    color: whitesmoke;
}

img {
    border-radius: 50%; /* Makes the image round */
    border: 5px solid white;
}